<div>
  <h2 class="form-title">Edit a Video</h2>
  <form class="input-form" action="/videos/{{video._id}}/updates" method="post" >
    <label class="form-label" for="title">Title</label>
    <input id="title-input" name="title" type="text" value="{{video.title}}">
    {{#if error.title}}
      <div class="error">{{error.title}}</div>
    {{/if}}
    <label class="form-label" for="description">Description</label>
    <textarea id="description-input" name="description">{{video.description}}</textarea>
    <label class="form-label" for="videoUrl">Video Url</label>
    <input id="videoUrl-input" name="videoUrl" type="text" value="{{video.videoUrl}}">
    {{#if error.videoUrl}}
      <div class="error">{{error.videoUrl}}</div>
    {{/if}}
    <button class="button submit-button" id="submit-button" type="submit">
      <p>Edit</p>
    </button>
  </form>
</div>
